.boxName {
  display: flex;
  gap: 4px;
  text-align: start;
  border-bottom: 1px solid #c5c5c5;
}
.name {
  width: 175px;

  font-weight: var(--semibold-font-weight);

  color: var(--black);
  max-width: 175px;
  width: 100%;
  flex-shrink: 0;
}
.amount {
  width: 150px;

  font-weight: var(--semibold-font-weight);

  color: var(--black);
  max-width: 150px;
  width: 100%;
}
.boxIngredientItem {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    margin-bottom: 40px;
  }

  .boxName {
    display: flex;
    gap: 4px;
    text-align: start;
    border-bottom: 1px solid #c5c5c5;
  }

  .name {
    width: 175px;
    font-weight: var(--semibold-font-weight);
    color: var(--black);
    max-width: 175px;
    width: 100%;
    flex-shrink: 0;
  }

  .amount {
    width: 150px;
    font-weight: var(--semibold-font-weight);
    color: var(--black);
    max-width: 150px;
    width: 100%;
  }
  .boxIngredientItem {
    width: 100%;
  }

  .boxIngredient {
    display: flex;
    text-align: start;
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
    padding: 16px 0px;
  }

  .ingredientName {
    line-height: 1.55;
    color: var(--black);
    max-width: 175px;
    width: 100%;
    flex-shrink: 0;
  }

  .ingredientcount {
    line-height: 1.55;
    color: var(--black);
    max-width: 150px;
    width: 100%;
  }

  .button {
    border-radius: 8px;
    width: 24px;
    height: 28px;
    flex-shrink: 0;
    outline: none;
    border: none;
  }

  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .boxName {
    display: flex;
    gap: 4px;
    max-width: 431px;
    text-align: start;
    border-bottom: 1px solid #c5c5c5;
  }
  .boxIngredientItem {
    width: 100%;
  }

  .boxIngredient {
    display: flex;
    padding: 16px 16px 16px 0;
    text-align: start;
    width: 431px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 4px;
  }

  .boxIngredient:last-child {
    margin-bottom: 0px;
  }

  .ingredientName {
    line-height: 1.55;
    color: var(--black);
    width: 175px;
  }

  .ingredientcount {
    line-height: 1.55;
    color: var(--black);
    width: 150px;
  }

  .button {
    border-radius: 8px;
    width: 24px;
    height: 28px;
    flex-shrink: 0;
    outline: none;
    border: none;
  }

  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1440px) {
}
