.item {
  background-color: #faf3e0;
  border-radius: 16px;
  padding: 12px;
  max-width: 369px;
}

.image {
  width: 337px;
  height: 230px;
  border-radius: 12px;
  object-fit: cover;
}

.titleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  margin-top: 16px;
}

.title {
  width: 276px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 24px;
  flex-shrink: 0;
  margin-right: 8px;
}

.timeCont {
  width: 53px;
  height: 28px;
  display: flex;
  margin-top: 2px;
  border-radius: 6px;
  justify-content: center;
  background-color: #fff;
}

.timeSvg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 600;
}

.descriptionContainer {
  margin-top: 16px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  size: 16px;
  height: 50px;
}

.calories {
  margin-top: 8px;
}

.buttonContainer {
  display: flex;
  margin-top: 16px;
}

/* ================== TABLET ================== */

@media screen and (min-width: 768px) {
  .item {
    width: 339px;
  }

  .image {
    width: 315px;
  }

  .title {
    width: 254px;
  }
}

/* ================== DESKTOP ================== */

@media screen and (min-width: 1440px) {
  .item {
    width: 288px;
  }

  .image {
    width: 264px;
    height: 178px;
  }

  .title {
    width: 203px;
  }
}