*,
*::before,
*::after {
  box-sizing: border-box;
}

.title{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000;
}

.container {
  width: 100%;
}

@media screen and (max-width: 767px) {

  .inputImage {
    display: block;
    width: 100%;
    height: 383px;
    max-width: 361px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 35px;
    opacity: 0;
    cursor: pointer;
    }

  .previewImage{
    
    height: 383px;
    display: block;
    width: 100%;
    max-width: 361px;
    box-sizing: border-box;
    object-fit: cover;
    margin-bottom: 24px;
  }

  .boxUploadInput {
    width: 100%;
    position: relative;
  }

  .boxUploadPhoto{
    width: 100%;
  }

  .title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    text-align: start;
  }

  .titleIngredients{
    margin-bottom: 32px;
  }

  .generalInformation{
    margin-bottom: 40px;
  }

  .titleGeneral{
    margin-bottom: 16px;
  }

  .titleText{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .input{
    margin-top: 8px;
    padding: 12px;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    
  }

    .nameRecipe{
      margin-bottom: 16px;
    }

    .descriptionRecipe{
      max-width: 361px;
      height: 144px;
      margin-bottom: 16px;
    }

    .cookingTime{
      margin-bottom: 16px;
    }

    .containerFood {
      display: flex;
      gap: 16px;
      max-width: 361px;
      width: 100%;
      box-sizing: border-box;
    }

    
    .calories{
      max-width: 160px;
      flex: 1 1 0;
      width: 100%;
    }

    .category{
      max-width: 160px;
      flex: 1 1 0;
      border: 1px solid #d9d9d9;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      padding: 12px;
      width: 172px;
      height: 48px;
      margin-top: 8px;
    }

    .nameAmount {
      width: 100%;
    }

    .titleList{
      display: none;
    }

    .ingredientName{
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      padding: 12px;
      max-width: 361px;
      height: 48px;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      margin-top: 8px;
      margin-bottom: 24px;
    }


    .buttonRemove{
      width: 100%;
      max-width: 361px;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      padding: 12px 16px;
      height: 44px;
      margin-bottom: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #000;
      margin-top: 16px;
      outline: none;
    }

    .buttonAdd{
      border-radius: 8px;
      padding: 12px 16px;
      width: 100%;
      max-width: 361px;
      height: 44px;
      background: var(--light-brown);
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #fff;
      outline: none;
      border: none;
      margin-bottom: 40px;
    }

    .instructions{
      height: 144px;
      max-width:361px;
    }

      .buttonSubmitbox {
        width: 100%;
      }

    .buttonSubmit{
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      border-radius: 8px;
      padding: 12px 16px;
      outline: none;
      border: none;
      height: 44px;
      background:var(--light-brown);
      max-width: 361px;
      width: 100%;
      margin-top: 40px;
    }
}

@media screen and (min-width: 768px) {

  .titleInputImage{
   
  }

  .inputImage {
      display: block;
      width: 704px;
      height: 383px;
      position: absolute;
      top: 55px;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
  
    .previewImage {
      display: block;
      width: 704px;
      height: 383px;
      box-sizing: border-box;
      object-fit: cover;
      margin-bottom: 24px;
      margin-top: 24px;
    }

    .boxUploadInput {
      width: 100%;
      position: relative;
    }

    .boxUploadPhoto {
      width: 100%; }
  
    .title {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 32px;
      color: #000;
      text-align: start;
    }
  
    .titleIngredients {
      margin-bottom: 32px;
    }
  
    .generalInformation {
      margin-bottom: 40px;
    }
  
    .titleGeneral {
      margin-bottom: 32px;
    }
  
    .titleText {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      display: flex;
      flex-direction: column;
      text-align: start;
    }
  
    .input {
      padding: 12px;
      overflow: auto;
      border-radius: 8px;
      border: 1px solid #d9d9d9;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      margin-top: 8px;
      width: 100%;
    }
  
    .nameRecipe {
      margin-bottom: 32px;
    }
  
    .descriptionRecipe {
      width: 704px;
      height: 144px;
      margin-bottom: 32px;
    }
  
    .cookingTime {
      margin-bottom: 32px;
    }
  
    .containerFood {
      display: flex;
      gap: 24px;
      width: 100%;
    }
  
  
    .calories {
      width: 340px;
      height: 46px;
    }
  
    .category {
      border: 1px solid #d9d9d9;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      padding: 12px;
      width: 340px;
      height: 48px;
      margin-top: 8px;
    }
  
    .nameAmount {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      
    }

    .titleInstructions{
      margin-top: 40px;
    }

    .titleList{
      display: flex;
      text-align: start;
      gap: 4px;
      border-bottom: 1px solid #c5c5c5;
      padding: 8px 0px;
      width: 431px;
      height: 36px;
    }

    .titleListName{
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #000;
      width: 175px;
    }

    .titleListAmount{
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #000;
      width: 150px;
    }
  
    .ingredientName {
      border: 1px solid #d9d9d9;
      border-radius: 8px;
      padding: 12px;
      height: 48px;
      outline: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000;
      margin-top: 8px;
      margin-bottom: 24px;
      width: 430px;
    }
  
    .titleTextAmount{
      margin-left: 24px;
    }
  
    .buttonRemove {
      display: none;
    }
  
    .buttonAdd {
      border-radius: 8px;
      padding: 12px 16px;
      width: 361px;
      /* max-width: 361px; */
      border: none;
      height: 44px;
      background: var(--light-brown);
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: #fff;
      outline: none;
      margin-left: 455px;
      margin-bottom: 32px;
    }
  
    .instructions {
      width: 704px;
      height:144px;
    }
    .buttonSubmitbox {
      width: 100%;
    }
  
    .buttonSubmit {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      border-radius: 8px;
      padding: 12px 16px;
      outline: none;
      border: none;
      height: 44px;
      background: var(--light-brown);
      width: 100%;
      margin-top: 40px;
    }
}

@media screen and (min-width: 1440px) {

  

  .boxUploadPhoto {
    width: 100%;
    position: relative;
  }

  .boxUploadInput {
    width: 100%;
    position: absolute;
    left: 833px;
    top: 0px;
  }

  .inputImage {
      width: 391px;
      height:374px;
      position: absolute;
      left: 0;
      top: 47px;
      z-index: 10;
      opacity: 0;
    }

    .previewImage {
      width: 391px;
      height: 374px;
      margin-bottom: 24px;
      position: relative;
      z-index: 5;
    }

   
    
    .title {
      
    }

    .titleIngredients {
    }

    .generalInformation {
      margin-bottom: 72px;
    }

    .titleGeneral {
    }

    .titleText {
    
    }

    .input {
      width: 809px;
      
    }

    .nameRecipe {
      margin-bottom: 32px;
    }

    .descriptionRecipe {
      width: 809px;
      height:144px;
    }

    .cookingTime {
      margin-bottom: 32px;
    }

    .containerFood {
      
      width: 809px;
    }


    .calories {
      width: 392.5px;
      height: 46px;
    }

    .category {
     width: 392.5px;
    }

    .nameAmount {
    width: 809px;
    }

    .titleInstructions {
      margin-top: 40px;
    }

    .inputIngredients{
     margin-right: 0px;
     width: 288px;
     margin-bottom: 17px;

    }

    .titleList {
     
    }

    .titleListName {
      width: 150px;
    }

    .titleListAmount {
      width: 150px;
    }

    .ingredientName {
      margin-bottom: 17px; 
      width: 497px;
    }

    .titleTextAmount {
      margin-left: 24px;
    }

    .buttonRemove {
      display: none;
    }

    .buttonAdd {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 258px;
      height: 23px;
      margin-left: 551px;
      
    }

    .instructions {
      width: 809px;
    }

    .buttonSubmitbox{
      display: flex;
      justify-content: flex-start;
    }

    .buttonSubmit {
      width: 809px;
      margin-top: 72px;
    }

}