.container {
 margin: 48px 0;
}

@media (min-width: 768px) {
  .container {
    margin: 48px auto;
    max-width: 880px;
  }
}

@media screen and (min-width: 1440px) {
   .container {
    margin: 48px 107.5px;
    max-width: 1440px;
   }
}

