.headerNav {
  padding: 14px 16px;
  background-color: #3d2218;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 144px;
}

.logoLink {
}

.logoText {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #fff;
}

.burgerButton {
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .headerNav {
    max-width: var(--desktop);
    padding: 15px 32px;
  }

  .inner {
    justify-content: space-between;
    gap: 32px;
  }

  .burgerButton {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .link {
    font-family: var(--main-font-family);
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .link:hover {
    font-size: 16px;
    color: #d39c6a;
  }

  .link[href='/'].active {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    text-decoration-color: #fff;
    border: none;
  }

  .link[href='/login'].active,
  .link[href='/register'].active {
    font-size: 16px;
    background-color: #9b6c43;
    color: #fff;
  }
}
