.title {
  font-weight: var(--semibold-font-weight);
  font-size: 24px;
  color: var(--black);
}

.description {
  height: 144px;
}

.formContainer {
  width: 100%;
}

.amountWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ingredientNameWrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  max-width: 361px;
  z-index: 10;
  background: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
}
.dropdownItem:hover {
  background: #f0f0f0;
}

@media screen and (max-width: 767px) {
  .inputImage {
    display: block;
    width: 100%;
    height: 383px;
    max-width: 393px;
    position: absolute;
    left: 0;
    top: 35px;
    opacity: 0;
    cursor: pointer;
    border-radius: 16px;
  }

  .previewImage {
    border-radius: 16px;
    height: 383px;
    display: block;
    width: 100%;
    max-width: 361px;
    object-fit: cover;
  }

  .boxUploadInput {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
  }

  .boxUploadPhoto {
    width: 100%;
  }

  .title {
    font-weight: var(--semibold-font-weight);
    font-size: 24px;
    color: var(--black);
    text-align: start;
  }

  .titleIngredients {
    margin-bottom: 32px;
  }

  .generalInformation {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 42px;
  }

  .titleText {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .input {
    padding: 12px;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    outline: none;
    font-size: 18px;
    color: var(--black);
  }

  .error {
    color: #ff0000;
    font-size: 14px;
  }

  .descriptionRecipe {
    max-width: 361px;
    height: 144px;
    margin-bottom: 16px;
  }

  .containerFood {
    display: flex;
    gap: 16px;
    max-width: 361px;
    width: 100%;
  }

  .calories {
    max-width: 160px;
    flex: 1 1 0;
    width: 100%;
  }

  .category {
    max-width: 172px;
    flex: 1 1 0;
    border: 1px solid #d9d9d9;
    outline: none;

    font-size: 18px;
    color: var(--black);
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 12px;
    height: 48px;
  }

  .nameAmount {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .titleList {
    display: none;
  }

  .ingredientName {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 12px;
    max-width: 361px;
    width: 100%;
    height: 48px;
    outline: none;
    font-size: 18px;
    color: var(--black);
  }

  .buttonRemove {
    width: 100%;
    max-width: 361px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 12px 16px;
    height: 44px;
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    text-align: center;
    color: var(--black);
    outline: none;
  }

  .buttonAdd {
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    max-width: 361px;
    height: 44px;
    background: var(--light-brown);

    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    text-align: center;
    color: var(--white);
    outline: none;
    border: none;
    margin-bottom: 28px;
  }

  .titleInstructions {
    margin-bottom: 16px;
  }

  .instructions {
    height: 144px;
    max-width: 361px;
  }

  .buttonSubmitbox {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .buttonSubmit {
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    color: var(--white);
    border-radius: 8px;
    padding: 12px 16px;
    outline: none;
    border: none;
    height: 44px;
    background: var(--light-brown);
    max-width: 361px;
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .inputImage {
    display: block;
    width: 704px;
    height: 383px;
    position: absolute;
    top: 55px;
    left: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 16px;
  }

  .previewImage {
    display: block;
    width: 704px;
    height: 383px;
    object-fit: cover;
    margin-bottom: 24px;
    margin-top: 24px;
    border-radius: 16px;
  }

  .boxUploadInput {
    width: 100%;
    position: relative;
  }

  .boxUploadPhoto {
    width: 100%;
  }

  .title {
    font-weight: var(--semibold-font-weight);
    font-size: 32px;
    color: var(--black);
    text-align: start;
  }

  .titleIngredients {
    margin-bottom: 32px;
  }

  .generalInformation {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 42px;
  }

  .titleGeneral {
    margin-bottom: 16px;
  }

  .titleText {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .input {
    padding: 12px;
    overflow: auto;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    outline: none;

    font-size: 18px;
    color: var(--black);
    width: 100%;
  }

  .error {
    color: #ff0000;
    font-size: 14px;
  }

  .descriptionRecipe {
    width: 704px;
    height: 144px;
    margin-bottom: 16px;
  }

  .containerFood {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .calories {
    width: 340px;
    height: 46px;
  }

  .category {
    border: 1px solid #d9d9d9;
    outline: none;
    font-size: 18px;
    color: var(--black);
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 12px;
    width: 340px;
    height: 48px;
  }

  .nameAmount {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
  }

  .amountWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .dropdown {
    max-width: 431px;
  }

  .titleInstructions {
    margin-top: 40px;
    margin-bottom: 16px;
  }

  .titleList {
    display: flex;
    text-align: start;
    gap: 4px;
    border-bottom: 1px solid #c5c5c5;
    padding: 8px 0px;
    width: 431px;
    height: 36px;
  }

  .titleListName {
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    color: var(--black);
    width: 175px;
  }

  .titleListAmount {
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    color: var(--black);
    width: 150px;
  }

  .ingredientName {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 12px;
    height: 48px;
    outline: none;
    font-size: 18px;
    color: var(--black);
    width: 430px;
  }

  .buttonRemove {
    display: none;
  }

  .buttonAdd {
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    border: none;
    height: 44px;
    background: var(--light-brown);
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    text-align: center;
    color: var(--white);
    outline: none;
    margin-left: auto;
  }

  .instructions {
    width: 704px;
    height: 144px;
  }
  .buttonSubmitbox {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .buttonSubmit {
    font-weight: var(--semibold-font-weight);
    font-size: 16px;
    color: var(--white);
    border-radius: 8px;
    padding: 12px 16px;
    outline: none;
    border: none;
    height: 44px;
    background: var(--light-brown);
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .boxUploadPhoto {
    width: 100%;
    position: relative;
  }

  .boxUploadInput {
    width: 391px;
    position: absolute;
    left: 833px;
    top: 0px;
  }

  .inputImage {
    width: 391px;
    height: 374px;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 10;
    opacity: 0;
    border-radius: 16px;
  }

  .previewImage {
    width: 391px;
    height: 374px;
    margin-bottom: 24px;
    position: relative;
    z-index: 5;
    border-radius: 16px;
  }

  .generalInformation {
    gap: 32px;
    margin-bottom: 72px;
  }

  .input {
    width: 809px;
  }

  .error {
    color: #ff0000;
    font-size: 14px;
  }

  .descriptionRecipe {
    width: 809px;
    height: 144px;
  }

  .containerFood {
    width: 809px;
  }

  .calories {
    width: 392.5px;
    height: 46px;
  }

  .category {
    width: 392.5px;
  }

  .nameAmount {
    width: 809px;
  }

  .titleInstructions {
    margin-top: 40px;
  }

  .inputIngredients {
    margin-right: 0px;
    width: 288px;
    margin-bottom: 17px;
  }

  .titleListName {
    width: 150px;
  }

  .titleListAmount {
    width: 150px;
  }

  .ingredientName {
    width: 497px;
  }

  .titleTextAmount {
    margin-left: 24px;
  }
  .dropdown {
    max-width: 497px;
  }

  .buttonRemove {
    display: none;
  }

  .buttonAdd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    height: 23px;
  }

  .instructions {
    width: 809px;
  }

  .buttonSubmitbox {
    display: flex;
    justify-content: flex-start;
  }

  .buttonSubmit {
    width: 809px;
    margin-top: 72px;
  }
}
