.pcFilter {
  display: none;
}

.recipesCount {
  font-size: 18px;
  font-weight: var(--semibold-font-weight);
  line-height: 22px;
}

.mobFilter {
  position: absolute;
  right: 0;
  z-index: 1;
}

.mobFilterBtn {
  background-color: transparent;
  border: none;
  font-weight: var(--semibold-font-weight);
  font-size: 12px;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 4px;
}

.filterIcon {
  width: 16px;
  height: 16px;
}

.mobMenu {
  width: 320px;
  display: none;
  background: var(--white);
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px 12px;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4),
    0px 8px 24px -6px rgba(0, 0, 0, 0.16);
  animation: slideDown 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  position: absolute;
  right: 0;
  top: 100%;
}

.mobMenuOpen {
  display: flex;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobMenu .resetButton {
  align-self: flex-start;
  background: transparent;
  font-size: 12px;
  font-weight: var(--semibold-font-weight);
  line-height: 15px;
  background: transparent;
  border-bottom: 2px solid var(--black);
}

.mobMenu .select {
  width: 100%;
  border: 1px solid var(--light-grey);
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--gray);
  font-size: 16px;
  line-height: 1.55;
  outline: none;
  background: var(--white);
}

.select option {
  max-width: 296px;
  padding: 8px;
  border-radius: 12px;
  font-weight: var(--regular-font-weight);
  font-size: 16px;
  line-height: 155%;
  color: var(--black);
}

@media (min-width: 1440px) {
  .mobFilter {
    display: none;
  }

  .pcFilter {
    display: flex;
    gap: 24px;
  }

  .resetButton {
    font-size: 12px;
    font-weight: var(--semibold-font-weight);
    line-height: 15px;
    background: transparent;
    border-bottom: 2px solid var(--black);
  }

  .filterGroup {
    margin-right: 1px;
  }

  .select {
    width: 179px;
    border: 1px solid var(--light-grey);
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--gray);
    line-height: 155%;
    outline: none;
    cursor: pointer;
    transition: border 0.3s ease-in-out;

    & option {
      border-radius: 12px;
      padding: 8px;
      color: var(--black);
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4),
        0px 8px 24px -6px rgba(0, 0, 0, 0.16);
    }

    &:focus {
      border: 1px solid #7c3aed;
    }
  }
}