.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.divider {
  width: 49px;
  height: auto;
}


.userBlock {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.userAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #9b6c43;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(51, 30, 0, 0.1);
  text-transform: uppercase;
  transition: color box-shadow 0.3s ease;
  cursor: pointer;
}

.userAvatar:hover {
  color: #d39c6a;
  box-shadow: 0 4px 8px rgba(27, 19, 7, 0.2);
}

.userName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--main-font-family);
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.userName:hover {
  color: #d39c6a;
}

.userLogoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  border-radius: 8px;
  padding: 0px 0px 4px 0px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.6s ease-out;
}

.userLogoutBtn:hover {
  color: #d39c6a;
  transform: scale(1.05);
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.link:hover {
  color: #d39c6a;
  font-size: 14px;
  transform: scale(1.05);
}

.addBtn {
  order: 3;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #9b6c43;
  border-radius: 8px;
  padding: 12px 16px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.addBtn:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .userMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
  }

  .userAvatar {
  font-size: 12px;
  transition: all 0.3s ease;
}

 .userAvatar:hover {
  transform: scale(1.05);
}

.userName {
  font-size: 12px;
  transition: all 0.3s ease;
}

.userName:hover {
  transform: scale(1.05);
}

  .navLinks {
    order: 1;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .link {
  font-size: 12px;
}
  
  .addBtn {
    width: auto;
    margin-top: 0;
    padding: 10px 16px;
    font-size: 16px;
  }

  .addBtn:hover {
  transition: 0.3s ease;
}

.addBtn:hover {
  background-color: #d39c6a;
  font-size: 17px;
  color: #9b6c43;
  transform: scale(1.05);
}
}
